# Git
.git
.gitignore

# Python virtual environment
.venv
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Test cache
.pytest_cache/

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Other build artifacts
*.egg-info/
dist/
build/

# Docker related
Dockerfile
docker-compose.yml
